In [1]:
from bank import Account

In [2]:
a1 = Account(ac_no=1, name="Sarthak", bal=5000.0)

In [3]:
a1

Account(ac_no=1, name='Sarthak', bal=5000.0)

In [4]:
a2 = Account(ac_no=2, name="Rahul", bal=-100.0)

ValueError: Account Balance cannot be negative

In [5]:
a2 = Account(2, "Aditi", 4000.0)

In [6]:
a2

Account(ac_no=2, name='Aditi', bal=4000.0)

In [7]:
a1.get_balance()

Current balance for ac_no 1 is: 5000.00 INR

In [8]:
a1.deposit(500.0)

In [9]:
a1.get_balance()

Current balance for ac_no 1 is: 5500.00 INR

In [13]:
a1.withdraw(6000.0)

ValueError: Insufficient Balance

In [14]:
a1.withdraw(3000.0)

In [15]:
a1.get_balance()

Current balance for ac_no 1 is: 2500.00 INR

In [16]:
a1.transfer(a2, 1000.0)

In [17]:
a1.get_balance()

Current balance for ac_no 1 is: 1500.00 INR

In [18]:
a2.get_balance()

Current balance for ac_no 2 is: 5000.00 INR

In [19]:
a1

Account(ac_no=1, name='Sarthak', bal=1500.0)

In [20]:
a2

Account(ac_no=2, name='Aditi', bal=5000.0)

In [21]:
from dataclasses import asdict

In [23]:
asdict(a1)

{'ac_no': 1, 'name': 'Sarthak', 'bal': 1500.0}

In [24]:
asdict(a2)

{'ac_no': 2, 'name': 'Aditi', 'bal': 5000.0}